
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';


html { height: 100%; }
body {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  .modal-wrapper {
    background-color: rgba(184, 184, 184, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    .worning-wrapper {
      width: 350px;
      height: 150px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      h1 {
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.main-wrapper {
  max-width: 860px;
}

.header {
  color: rgb(199, 199, 199);
}

.btn-icon {
  transform: rotate(90deg);
  color: rgb(114, 117, 128);
}

.btn-icon:hover {
  color: rgb(56, 57, 82);
}

.exchange-rates-wrapper{
  height: 20px;
  color: rgb(99, 99, 99)
}

.converter-form {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 5px; 
  align-items: flex-end;
  .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 47%;
    label {
      padding-left: 10px;
      margin: 0;
    }
  }

  .button-change-place {
    max-width: 5%;
    max-height: 34px;
    span {
      color: white;
    }
  }

  .conv-form-input{
    width: 47%;
  }
}

.comission-wrapper{
  width: 170px;
}

.select-comission {
  outline: none;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.nav-link {
  cursor: pointer;
}