<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Finance Today</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a class="nav-link" ui-sref="converter" ui-sref-active="active">Converter</a>          
        </li>
        <li>
            <a class="nav-link" ui-sref="contacts" ui-sref-active="active">Contacts</a> 
        </li>
        <li>
            <a class="nav-link" ui-sref="async" ui-sref-active="active">Async</a> 
        </li>
      </ul>
    </div>
  </nav>
</header>